<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>140904352955-88trtu6lcm5ghkq2vs7jvja1fc3kpavp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.140904352955-88trtu6lcm5ghkq2vs7jvja1fc3kpavp</string>
	<key>API_KEY</key>
	<string>AIzaSyAdLkRX5hojDYiKYsBFvwG1-7Bfpq9gq_I</string>
	<key>GCM_SENDER_ID</key>
	<string>140904352955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.YourName.Flash-Chat123xxx</string>
	<key>PROJECT_ID</key>
	<string>first-f8e2d</string>
	<key>STORAGE_BUCKET</key>
	<string>first-f8e2d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:140904352955:ios:6cbe1acad987949a</string>
	<key>DATABASE_URL</key>
	<string>https://first-f8e2d.firebaseio.com</string>
</dict>
</plist>